@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "components/button.css";
@import "components/carousel.css";
@import "components/product.css";

@layer base {
  html {
    @apply font-sans text-sm;
  }
  .text-heading {
    @apply font-serif sm:text-6xl text-4xl text-primary tracking-[1px] sm:leading-[55px];
  }
  .text-label {
    @apply text-primary text-[13px] uppercase tracking-[2px];
    word-spacing: 3px;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-6 lg:py-[140px] py-[72px];
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}
